@import "tailwindcss";

body {
	font-family: 'Vazirmatn', sans-serif;
}

.font-arabic {
	font-family: 'NotoNaskhArabic', serif;
}

.font-persian {
	font-family: 'Vazirmatn', sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));